<html>
<head>
<title>Mailroom</title>
</head>
<body>
	<nav>
	  <li><a id="create" href="{{ url_for('create') }}">Make a Donation</a></li>
	  <li><a id="donations" href="{{ url_for('home') }}">Home</a></li>
	</nav>
	<h1>Donations</h1>
	<h2>{% block subtitle %} {% endblock subtitle %}</h2>
	{% block content %} {% endblock content %}
</body>
</html>
